html {
  scroll-behavior: smooth;
}

@keyframes scroll {
  0% {
      transform: translateX(100%); 
  }
  100% {
      transform: translateX(-100%); 
  }
}
.animate-move {
  animation: scroll 12s linear infinite;
}