/* For mobile devices */
@media (max-width: 600px) {
  body {
      font-size: 14px;
  }
}

/* For tablets */
@media (min-width: 601px) and (max-width: 1024px) {
  body {
      font-size: 16px;
  }
}

/* For desktop */
@media (min-width: 1025px) {
  body {
      font-size: 18px;
  }
}

html{
    scroll-behavior: smooth;
}

body, h1, h3, p, button, input {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #1f1e1e;
    color: #333;
  }
  
  .Navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
  }
  
  .select_buttons {
    display: flex;
    flex-direction: row; 
    justify-content: flex-start; 
}
  
  .button_type1 {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
  }
  .image img{
    margin-left: auto;
  }

  .button_type1:hover {
    background-color: #0056b3;
  }
  
  .Home {
    padding: 200px;
    color: white;
    text-align: center;
  }
  
  .Home h1{
    color: white;
    font-size: 36px;
  }

  .social_media {
    margin: 20px 0;
  }
  
  .social_media i {
    font-size: 24px;
    color: white;
    margin: 0 10px;
    cursor: pointer;
  }
  
  .social_media i:hover {
    color: #007BFF;
  }
  
  .resume {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
  }
  
  .resume:hover {
    background-color: #0056b3;
  }
  
  .About_me {
    padding: 200px;
    background-color: #333;
    color: white;
    margin: 20px 20px;
    border-radius: 5px;
  }
  
  .About_me h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .About_me p {
    margin-bottom: 10px;
  }
  
  .Projects {
    padding: 350px 200px;
    background-color: #333;
    color: white;
    margin: 20px 20px;
    border-radius: 5px;
  }
  
  .Projects h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .Contact {
    padding: 200px;
    background-color: #333;
    color: white;
    margin: 20px 20px;
    border-radius: 5px;
  }
  
  .Contact h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .Contact p {
    margin-bottom: 10px;
  }
  
  .Contact i {
    font-size: 24px;
    color: white;
    margin: 0 10px;
  }
  
  .Contact i:hover {
    color: #007BFF;
  }
  
  form {
    margin-top: 10px;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
  }
  
  form input[type="text"], form input[type="textarea"] {
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  form input[type="textarea"] {
    width: 200px;
    height: 50px;
  }
  
  .send {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .send:hover {
    background-color: #0056b3;
  }
  
  .back-to-top {
     position: fixed;
     bottom: 20px;
     right: 20px;
     background-color: #007BFF;
     color: white;
     border: none;
     border-radius: 50%;
     width: 50px;
     height: 50px;
     font-size: 30px;
     cursor: pointer;
     align-items: center;
     justify-content: center;
     text-align: center;
  }
  
   .back-to-top.show {
     display: flex;
   }
  
   .back-to-top:hover {
     background-color: #0056b3;
  }

  .image{
    margin-left: 200px;
    padding-top: 200px;
  }

  .tech-box {
    display: inline-block;
    padding: 20px;
    margin: 20px;
    width: 120px;
    height: 60px;
    border: none ;
    border-radius: 0 30% 0 30%;
    background-color: #f0c85a;
    color: black;
    box-shadow: 0 0 10px rgba(65, 48, 1, 0.1);
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }
  